:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --primary-text-color: #757575;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ===========header==========*/
.body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
}
/*==Logo==*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-color {
  color: var(--accent-color);
}
/*=END= Logo=*/
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.menu-link.current {
  color: var(--accent-color);
}
.connect-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.connect-link:hover,
.connect-link:focus {
  color: var(--accent-color);
}
/* ===========END=== header==========*/

/*=============hero============*/
.hero {
  background-color: #2f303a;
}
.hero-titel {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/*=============END=== hero============*/

/*==========Преимущества - edvantages====*/

.edvantages-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.edvantages-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*========== END===   Преимущества - edvantages====*/

/*==========benefits Чем мы занимаемся======*/

/*==========END===  benefits Чем мы занимаемся======*/

/*==========Team Наша команда======*/
.team {
  background-color: #f5f4fa;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/*==========END=== Team Наша команда======*/

/*==========Footer============*/
.footer {
  background-color: #2f303a;
}
.footer-address-map {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.footer-address-map:hover,
.footer-address-map:focus {
  color: var(--accent-color);
}

.footer-address-mail {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address-mail:hover,
.footer-address-mail:focus {
  color: var(--accent-color);
}

.footer-address-tell {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address-tell:hover,
.footer-address-tell:focus {
  color: var(--accent-color);
}
/*==========END=== Footer======*/
/*=============================*/
/*******************************/
/*==============================*/
/*==========Portfolio===========*/
/*=====Filter====*/
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;

  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/*=====END== Filter=============*/

/*===========Exemples===========*/
.exemples-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.exemples-name:hover,
.exemples-name:focus {
  color: var(--accent-color);
}
.exemples-work {
  font-weight: normal;
  font-size: 16px;
  line-height: 18.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.exemples-work:hover,
.exemples-work:focus {
  color: var(--accent-color);
}
/*=====END====Exemples============*/
